// Define variables for your color scheme
$red: #EA0012;
$blue: #17407e;
$light-yellow: #fff9f0;
$gray: #252525;
$light-red: #f13939;
// For example:


$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
