.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-top: 13px;
}

.navbar-lewagon .navbar-brand img {
  width: 135px;
}
