<h1>Sales#create</h1>
<p>Find me in app/views/sales/create.html.erb</p>

<%# va falloir m'expliquer xD, calmez vous avec les "create.html.erb, ça n'existe pas
t'as une route new qui appelle create pour poster, mais create n'est pas une view,
ça redirige directement vers autre chose que "create", en l'occurence ça peut être la show d'une sale -Alex :* " %>
